@import "//cdn.staticfile.org/github-markdown-css/4.0.0/github-markdown.min.css";
@import "//cdn.staticfile.org/highlight.js/11.2.0/styles/default.min.css";
@import "//cdn.staticfile.org/gitalk/1.7.2/gitalk.css";

@media print {
    .no-print, .no-print * {
        display: none !important;
    }
}

#menu {
    font-size: 12px;
    float: left;
    position: fixed;
}

#menu ul {
    padding: 0px;
}

#menu li {
    margin-left: 10px
}


#menu a {
    color: black
}

.main {
    max-width: 800px;
    margin: 0 auto;
}

input,
button {
    padding: 10px;
}
